#root {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.rover-panel {
  background-color: #f4f4f4;
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  max-height: 180px;
  margin: 0rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
}

.rover-panel-input {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.rover-title {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}
.rover-commands {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.rover-secuency {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0.5rem 0 2rem 0rem;
  color: #11db1b;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.rover-info {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.5rem 0rem;
  color: #555;
}

.rover-input {
  width: 50%;
  padding: 0.6rem;
  margin-top: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.rover-input:focus {
  border-color: #646cff;
  outline: none;
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
    place-items: center;
    gap: 20px;
  }

  .rover-panel-input,
  .rover-panel {
    width: 80%;
  }
  .rover-commands {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border: 2px solid #333;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 30px;
  height: 30px;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.rover-icon {
  display: inline-block;
}

.dir-N {
  transform: rotate(0deg);
}

.dir-E {
  transform: rotate(90deg);
}

.dir-S {
  transform: rotate(180deg);
}

.dir-O {
  transform: rotate(-90deg);
}

.command-button {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  margin: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: background 0.2s ease;
}

.command-button:hover {
  background-color: #e0e0e0;
}
